
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.frame-53-9gy {
  background-image: url('REPLACE_IMAGE:968db8561ceff7141c79cef4a8c08f730f283060');
  padding: 26.7rem 19.2rem 37.5rem 21.7rem;
  width: 100%;
  overflow: hidden;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;

  .rectangle-21-TxZ {
    box-sizing: border-box;
    background-color: #07c7f1;
    flex-shrink: 0;
    width: 100%;
    height: 5.6rem;
    border: solid 0.1rem #000000;
  }
  .auto-group-clcm-cKf {
    align-items: center;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 8.9rem 41.2rem 7.3rem 39.7rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: solid 0.1rem #000000;
    flex-shrink: 0;

    .printer-success-kRs {
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 5.5rem;
    }
    .auto-group-35g9-HRo {
      margin: 0rem 8rem 0rem 7rem;
      width: calc(100% - 15rem);
      font-weight: 400;
      border: solid 0.1rem #000000;
      flex-shrink: 0;
      color: #000000;
      align-items: center;
      line-height: 1.2125;
      justify-content: center;
      box-sizing: border-box;
      height: 6.9rem;
      font-size: 2rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      background-color: #ffffff;
    }
  }
}
