
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.frame-3-aYm {
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding-bottom: 1.6rem;
  width: 100%;
  display: flex;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('REPLACE_IMAGE:968db8561ceff7141c79cef4a8c08f730f283060');

  .auto-group-qfdx-hG1 {
    margin-bottom: 6.2rem;
    width: 151.6rem;
    height: 30rem;
    position: relative;
    flex-shrink: 0;

    .bt-ng-sn-quanh-ta-rgd {
      display: flex;
      justify-content: center;
      line-height: 1.2125;
      position: absolute;
      font-weight: 600;
      color: #000000;
      height: 7.8rem;
      top: 11.4rem;
      align-items: center;
      width: 86.1rem;
      left: 37.75rem;
      font-size: 6.4rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .bt-ng-sn-quanh-ta-PKB {
      top: 11.4rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 7.8rem;
      justify-content: center;
      font-size: 6.4rem;
      font-weight: 600;
      position: absolute;
      width: 86.1rem;
      left: 37.75rem;
      display: flex;
      align-items: center;
      line-height: 1.2125;
    }
    .bt-ng-sn-quanh-ta-1rM {
      width: 86.1rem;
      top: 11.4rem;
      display: flex;
      color: #000000;
      font-size: 6.4rem;
      font-weight: 600;
      font-family: Inter, 'Source Sans Pro';
      height: 7.8rem;
      left: 37.75rem;
      align-items: center;
      white-space: nowrap;
      position: absolute;
      justify-content: center;
      line-height: 1.2125;
    }
    .frame-52-gxV {
      box-sizing: border-box;
      width: 151.6rem;
      left: 0;
      background-color: #1c1b1f;
      padding: 7.8rem 34.85rem 2.4rem 34.85rem;
      height: 30rem;
      position: absolute;
      top: 0;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

      .frame-51-9r5 {
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .bt-ng-sn-quanh-ta-UNZ {
          font-family: Inter, 'Source Sans Pro';
          display: flex;
          align-items: center;
          font-size: 5.6rem;
          font-weight: 700;
          line-height: 1.2125;
          margin-bottom: 7.8rem;
          justify-content: center;
          color: #ffffff;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .frame-9-Lff {
          align-items: center;
          background-color: #ffffff;
          flex-shrink: 0;
          width: 100%;
          display: flex;
          border: solid 0.1rem #e4e4e4;
          border-radius: 2.5rem;
          box-sizing: border-box;
          padding: 1.55rem 65.3rem 1.55rem 1.798rem;

          .user-interface-magnifier-dem {
            height: 1.9997rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 1.801rem 0.005rem 0rem;
            width: 2.0012rem;
          }
          .search-for-stats-vds {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5;
            color: #8c8c8c;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
    }
  }
  .auto-group-e8wx-uXj {
    flex-shrink: 0;
    margin: 0rem 4.2rem 0rem 2.7rem;
    width: calc(100% - 6.9rem);
    display: flex;
    align-items: flex-start;

    .auto-group-tmc1-Rky {
      margin-right: 3.6rem;
      width: 25.1rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-5xxv-xF7 {
        background-color: #ffffff;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.2rem 0rem 4.05rem 0rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        border: solid 0.1rem #000000;

        .personapron-HHP {
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.35rem;
          width: 13.4rem;
          height: 10.1rem;
        }
        .user-name-B7s {
          width: 100%;
          justify-content: center;
          font-size: 1.1rem;
          line-height: 1.2125;
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.7rem;
          display: flex;
          align-items: center;
          font-weight: 600;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .msnv-eXF {
          font-weight: 600;
          line-height: 1.2125;
          color: #000000;
          white-space: nowrap;
          align-items: center;
          justify-content: center;
          display: flex;
          font-size: 1.1rem;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 0.7rem;
          width: 100%;
        }
        .position-9U1 {
          width: 100%;
          justify-content: center;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          align-items: center;
          font-size: 1.1rem;
          font-weight: 600;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .auto-group-gfwb-RAd {
        padding: 2.9rem 0.3rem;
        width: 100%;
        height: 20.3rem;
        border: solid 0.1rem #000000;
        background-color: #ffffff;
        flex-shrink: 0;
        box-sizing: border-box;

        .qun-l-bt-ng-sn-YFF {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          max-width: 23.6rem;
          cursor: pointer;
          display: flex;
          font-size: 3.2rem;
          font-weight: 300;
          line-height: 1.2125;
        }
      }
      .auto-group-3pe1-S5j {
        background-color: #ffffff;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.7rem 0.9rem;
        width: 100%;
        height: 20.3rem;
        border: solid 0.1rem #000000;

        .qun-l-hp-ng-aBw {
          font-family: Inter, 'Source Sans Pro';
          max-width: 17.4rem;
          cursor: pointer;
          display: flex;
          font-size: 3.2rem;
          font-weight: 300;
          line-height: 1.2125;
          color: #000000;
        }
      }
    }
    .auto-group-jsmb-sgq {
      background-color: #ffffff;
      flex-shrink: 0;
      margin-top: 0.2rem;
      width: 115.6rem;
      height: 64.3rem;
      position: relative;
      border: solid 0.4rem #000000;
      box-sizing: border-box;

      .auto-group-s4zb-9uF {
        align-items: center;
        width: 99.9295rem;
        height: 5.427rem;
        position: absolute;
        left: 10.25rem;
        top: 7.5978rem;
        display: flex;

        .a1-0001-saM {
          line-height: 1.2125;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: Inter, 'Source Sans Pro';
          margin: 0rem 24.75rem 1.322rem 0rem;
          font-size: 1.3rem;
          font-weight: 300;
        }
        .an-giang-NX7 {
          line-height: 1.2125;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.3rem;
          font-weight: 300;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 23.35rem 1.522rem 0rem;
          flex-shrink: 0;
        }
        .tr1m2-T2m {
          white-space: nowrap;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          font-weight: 300;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          margin: 0rem 16.281rem 1.322rem 0rem;
          display: flex;
          font-size: 1.3rem;
          line-height: 1.2125;
        }
        .ratereview-AC5 {
          height: 5.3064rem;
          cursor: pointer;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.121rem 9.956rem 0rem 0rem;
          width: 4.6461rem;
        }
        .block-Gku {
          cursor: pointer;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.8442rem;
          width: 4.6461rem;
          height: 4.5828rem;
        }
      }
      .auto-group-a9l9-8HK {
        width: 99.9295rem;
        height: 5.3064rem;
        position: absolute;
        left: 10.25rem;
        top: 15.4367rem;
        display: flex;
        align-items: center;

        .a2-0002-pR3 {
          align-items: center;
          font-size: 1.3rem;
          line-height: 1.2125;
          font-weight: 300;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 24.95rem 0.48rem 0rem;
          display: flex;
          justify-content: center;
        }
        .an-ha-WYm {
          align-items: center;
          font-size: 1.3rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 23.75rem 1.28rem 0rem;
          justify-content: center;
          font-weight: 300;
          line-height: 1.2125;
          color: #000000;
          display: flex;
        }
        .tr1m2-EUm {
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 300;
          line-height: 1.2125;
          color: #000000;
          flex-shrink: 0;
          margin: 0rem 16.681rem 0.48rem 0rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 1.3rem;
        }
        .ratereview-MJV {
          flex-shrink: 0;
          margin-right: 9.956rem;
          width: 4.6461rem;
          height: 5.3064rem;
          cursor: pointer;
          position: relative;
          object-fit: contain;
          vertical-align: top;
        }
        .block-tJR {
          flex-shrink: 0;
          margin-top: 0.7236rem;
          width: 4.6461rem;
          height: 4.5828rem;
          cursor: pointer;
          position: relative;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .auto-group-3dau-Q1s {
        box-sizing: border-box;
        height: 5.0652rem;
        left: 0;
        top: 0;
        align-items: center;
        padding: 0.121rem 10rem 0.215rem 8.05rem;
        width: 115.6rem;
        position: absolute;
        display: flex;
        flex-direction: column;

        .auto-group-ubnv-WKo {
          padding-right: 29.5361rem;
          width: calc(100% - 38.2566rem);
          display: flex;
          align-items: center;
          border-right: solid 0.4rem #000000;
          flex-shrink: 0;
          margin: 0rem 19.094rem 0.709rem 19.163rem;
          box-sizing: border-box;

          .auto-group-uuhp-n2R {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 29.315rem 0.121rem 0rem;
            width: 0.2212rem;
            height: 0.4rem;
            object-fit: contain;
          }
          .auto-group-j4rb-Hzm {
            flex-shrink: 0;
            margin: 0.121rem 29.315rem 0rem 0rem;
            width: 0.2212rem;
            height: 0.4rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .auto-group-wnay-zeH {
          width: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .ma-bds-jrm {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2.4rem;
            line-height: 1.2125;
            color: #000000;
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 20.3rem 0.1rem 0rem;
            font-weight: 300;
            font-family: Inter, 'Source Sans Pro';
          }
          .address-o5w {
            display: flex;
            align-items: center;
            font-weight: 300;
            color: #000000;
            flex-shrink: 0;
            margin: 0.5rem 22rem 0rem 0rem;
            justify-content: center;
            font-size: 2.4rem;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .price-iih {
            font-weight: 300;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 23.95rem 0.5rem 0rem;
            display: flex;
            align-items: center;
            font-size: 2.4rem;
            justify-content: center;
            color: #000000;
            flex-shrink: 0;
          }
          .action-pFw {
            margin-top: 0.1rem;
            justify-content: center;
            line-height: 1.2125;
            white-space: nowrap;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            display: flex;
            align-items: center;
            font-size: 2.4rem;
            font-weight: 300;
            color: #000000;
          }
        }
      }
      .line-1-5Sm {
        position: absolute;
        left: 0;
        top: 5.0652rem;
        background-color: #000000;
        width: 115.6rem;
        height: 0.4rem;
      }
      .line-7-RFj {
        background-color: #000000;
        width: 115.6rem;
        height: 0.4rem;
        position: absolute;
        left: 0;
        top: 13.9895rem;
      }
      .line-8-Aj7 {
        background-color: #000000;
        width: 115.6rem;
        height: 0.4rem;
        position: absolute;
        left: 0;
        top: 22.1903rem;
      }
    }
  }
}
