
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.frame-51-eKf {
  background-image: url('REPLACE_IMAGE:4d90fa68fe440f0bb4e32643708fbf313d3abb31');
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;

  .rectangle-7-MUy {
    background-color: #ffffff;
    border-radius: 2.5rem;
    width: 97.1rem;
    height: 74.4rem;
    position: absolute;
    left: 41rem;
    top: 24rem;
  }
  .item-123214344141224145-UZb {
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    position: absolute;
    font-size: 1.4rem;
    font-weight: 400;
    width: 14.7rem;
    align-items: center;
    display: flex;
    white-space: nowrap;
    justify-content: center;
    height: 1.7rem;
    left: 69.5rem;
    top: 34.4rem;
  }
  .item-123214344-Kq7 {
    width: 7.5rem;
    position: absolute;
    left: 74rem;
    display: flex;
    justify-content: center;
    height: 1.7rem;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    top: 43.55rem;
    color: #000000;
    white-space: nowrap;
  }
  .processing-1C9 {
    height: 2rem;
    align-items: center;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    top: 34.25rem;
    justify-content: center;
    width: 8.4rem;
    position: absolute;
    font-size: 1.6rem;
    font-weight: 400;
    color: #000000;
    left: 97.6rem;
    display: flex;
    white-space: nowrap;
  }
  .unfulfilled-Jh3 {
    position: absolute;
    display: flex;
    line-height: 1.2125;
    white-space: nowrap;
    height: 2rem;
    justify-content: center;
    left: 98.1rem;
    font-size: 1.6rem;
    font-weight: 400;
    font-family: Inter, 'Source Sans Pro';
    width: 7.4rem;
    align-items: center;
    color: #000000;
    top: 43.55rem;
  }
  .kinh-doanh-bs-z45 {
    height: 1.7rem;
    white-space: nowrap;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    left: 46.15rem;
    justify-content: center;
    display: flex;
    line-height: 1.2125;
    position: absolute;
    top: 33.8rem;
    font-size: 1.4rem;
    font-weight: 400;
    width: 10.8rem;
    align-items: center;
  }
  .kinh-doanh-chng-khon-qKb {
    top: 43.7rem;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    width: 16.7rem;
    left: 44.15rem;
    line-height: 1.2125;
    white-space: nowrap;
    height: 1.7rem;
    position: absolute;
    display: flex;
    font-size: 1.4rem;
    font-weight: 400;
  }
  .line-9-enq {
    position: absolute;
    left: 40.9998rem;
    top: 29.9991rem;
    background-color: #000000;
    width: 97.1004rem;
    height: 0.1rem;
  }
  .line-10-xoX {
    position: absolute;
    left: 41rem;
    top: 40.1835rem;
    background-color: #000000;
    width: 97.1rem;
    height: 0.1rem;
  }
  .line-11-hFK {
    background-color: #000000;
    width: 97.1rem;
    height: 0.1rem;
    position: absolute;
    left: 41rem;
    top: 49.6704rem;
  }
  .line-12-dPs {
    left: 63.858rem;
    top: 24.1395rem;
    background-color: #000000;
    width: 0.1858rem;
    height: 0.1rem;
    position: absolute;
  }
  .line-14-mky {
    background-color: #000000;
    width: 0.1858rem;
    height: 0.1rem;
    position: absolute;
    left: 88.6673rem;
    top: 24.279rem;
  }
  .line-16-7Zw {
    position: absolute;
    left: 113.4766rem;
    top: 24.1395rem;
    background-color: #000000;
    width: 0.1858rem;
    height: 0.1rem;
  }
  .block-4VB {
    left: 131rem;
    top: 42.4rem;
    object-fit: contain;
    vertical-align: top;
    width: 4.267rem;
    height: 4.5526rem;
    cursor: pointer;
    position: absolute;
  }
  .block-AYD {
    object-fit: contain;
    vertical-align: top;
    width: 4.267rem;
    height: 4.5526rem;
    cursor: pointer;
    position: absolute;
    left: 130.7141rem;
    top: 33.2435rem;
  }
  .ratereview-6gm {
    top: 41.9rem;
    object-fit: contain;
    vertical-align: top;
    width: 4.267rem;
    height: 5.2714rem;
    cursor: pointer;
    position: absolute;
    left: 117.4rem;
  }
  .ratereview-36D {
    position: absolute;
    left: 117.3792rem;
    top: 32.9rem;
    object-fit: contain;
    vertical-align: top;
    width: 4.267rem;
    height: 5.2714rem;
    cursor: pointer;
  }
  .frame-52-yEm {
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #1c1b1f;
    box-sizing: border-box;
    height: 17rem;
    left: 29.8rem;
    top: 0;
    padding: 1.3rem 16.15rem 2.4rem 16.15rem;
    width: 114.2rem;
    position: absolute;

    .frame-51-fNV {
      width: 100%;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;

      .bt-ng-sn-quanh-ta-coX {
        flex-shrink: 0;
        justify-content: center;
        font-size: 5.6rem;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.3rem;
        display: flex;
        align-items: center;
        font-weight: 700;
      }
      .frame-9-V6d {
        flex-shrink: 0;
        width: 100%;
        display: flex;
        align-items: center;
        background-color: #ffffff;
        box-sizing: border-box;
        padding: 1.55rem 65.3rem 1.55rem 1.798rem;
        border: solid 0.1rem #e4e4e4;
        border-radius: 2.5rem;

        .user-interface-magnifier-CFw {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.801rem 0.005rem 0rem;
          width: 2.0012rem;
          height: 1.9997rem;
        }
        .search-for-stats-WXX {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.5;
          color: #8c8c8c;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
    }
  }
  .frame-61-j9P {
    display: flex;
    align-items: center;
    width: 97.2rem;
    height: 6.4rem;
    position: absolute;
    left: 40.9rem;
    top: 24rem;
    overflow: hidden;
    background-color: #1c1b1f;
    border-radius: 2.5rem 2.5rem 0 0;
    box-sizing: border-box;
    padding: 1.65rem 8.5rem 1.65rem 2.15rem;

    .contract-name-BGH {
      white-space: nowrap;
      display: flex;
      font-size: 2.4rem;
      line-height: 1.2125;
      font-weight: 500;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 10.75rem 0.1rem 0rem;
      align-items: center;
      justify-content: center;
    }
    .numbers-rNR {
      font-weight: 500;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      align-items: center;
      font-size: 2.4rem;
      flex-shrink: 0;
      margin: 0.1rem 15.2rem 0rem 0rem;
      justify-content: center;
      line-height: 1.2125;
    }
    .status-Ma5 {
      font-weight: 500;
      line-height: 1.2125;
      color: #ffffff;
      flex-shrink: 0;
      margin: 0.1rem 17.2rem 0rem 0rem;
      display: flex;
      font-size: 2.4rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      align-items: center;
      justify-content: center;
    }
    .action-fqf {
      margin-bottom: 0.1rem;
      align-items: center;
      justify-content: center;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      white-space: nowrap;
      display: flex;
      font-size: 2.4rem;
      font-weight: 500;
      line-height: 1.2125;
      color: #ffffff;
    }
  }
  .frame-52-yrM {
    height: 102.4rem;
    top: 0;
    overflow: hidden;
    width: 32.5rem;
    padding: 3.1rem 0rem 2.9rem 0rem;
    position: absolute;
    left: 0;
    background-color: #ffffff;
    border-radius: 2rem 2.5rem 2.5rem 2rem;
    box-sizing: border-box;

    .frame-60-7Sm {
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 100%;

      .frame-59-fjB {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 18.9rem;
        width: 100%;

        .frame-58-dR7 {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 7.3rem 5.15rem 7.3rem;
          width: calc(100% - 14.6rem);

          .image-1-mGR {
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 4.6rem;
            width: 17.9rem;
            height: 20.5rem;
            object-fit: cover;
          }
          .frame-49-WE1 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin: 0rem 4.2rem 0rem 4.5rem;
            width: calc(100% - 8.7rem);
            align-items: center;

            .frame-48-3Dw {
              margin: 0rem 0.95rem 1.4rem 1.05rem;
              width: calc(100% - 2rem);
              height: 6.8rem;
              position: relative;
              flex-shrink: 0;

              .frame-47-MVX {
                height: 6.8rem;
                border-radius: 1.6rem;
                border: solid 0.1rem #e4e4e4;
                background-color: #ffffff;
                box-sizing: border-box;
                padding: 1rem;
                width: 6.8rem;
                position: absolute;
                left: 0;
                top: 0;

                .rectangle-4-hJV {
                  height: 4.8rem;
                  object-fit: cover;
                  vertical-align: top;
                  border-radius: 1rem;
                  width: 4.8rem;
                }
              }
              .ellipse-4-mp9 {
                position: absolute;
                box-sizing: border-box;
                background-color: #68b071;
                top: 5.2rem;
                border: solid 0.4rem #ffffff;
                border-radius: 0.6rem;
                width: 1.2rem;
                height: 1.2rem;
                left: 6rem;
              }
            }
            .user-name-gRK {
              line-height: 1.5;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1.05rem;
              font-size: 1.6rem;
              font-weight: 600;
            }
            .msnv-1iV {
              font-size: 1.4rem;
              line-height: 1.2125;
              white-space: nowrap;
              margin: 0rem 0.3rem 0.7rem 0rem;
              align-items: center;
              justify-content: center;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              display: flex;
              font-weight: 600;
              color: #000000;
            }
            .position-Xgq {
              margin-right: 0.3rem;
              font-weight: 600;
              white-space: nowrap;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 1.4rem;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
            }
          }
        }
        .frame-11-F73 {
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .frame-3-QVj {
            width: 100%;
            cursor: pointer;
            display: flex;
            align-items: center;
            background-color: #ffffff;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 5.625rem 5.2rem 5.575rem 2.6rem;

            .user-interface-house-7uw {
              margin: 0rem 3.4rem 0.05rem 0rem;
              width: 1.9995rem;
              height: 1.9999rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .qun-l-bt-ng-sn-dNV {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.0499rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
            }
          }
          .frame-4-8q3 {
            background-color: rgba(243, 243, 243, 0.8000000119);
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 5.625rem 5.5rem 5.575rem 5.05rem;
            width: 100%;
            display: flex;
            align-items: center;
            box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));

            .file-and-folder-bookmark-document-UP7 {
              margin: 0rem 3.45rem 0.05rem 0rem;
              width: 1.9rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .qun-l-hp-ng-Pky {
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.05rem;
              font-size: 1.6rem;
              font-weight: 400;
            }
          }
        }
      }
      .icon-logout-Sz9 {
        flex-shrink: 0;
        margin-left: 0.2rem;
        width: 5rem;
        height: 5rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .print-7aV {
    object-fit: contain;
    vertical-align: top;
    width: 4.3rem;
    height: 4.3rem;
    cursor: pointer;
    position: absolute;
    left: 124rem;
    top: 42.4rem;
  }
  .print-qWV {
    vertical-align: top;
    width: 4.3rem;
    height: 4.3rem;
    cursor: pointer;
    position: absolute;
    left: 124rem;
    top: 33.2rem;
    object-fit: contain;
  }
}
