
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.frame-8-ZnV {
  width: 100%;
  height: 102.3rem;
  position: relative;
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('REPLACE_IMAGE:968db8561ceff7141c79cef4a8c08f730f283060');

  .rectangle-25-tpm {
    position: absolute;
    left: 4.1rem;
    top: 1.7rem;
    border: solid 0.2rem #000000;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 88.4rem;
    height: 92.4rem;
  }
  .tn-hp-ng-ogq {
    height: 1.7rem;
    left: 6.7rem;
    line-height: 1.2125;
    white-space: nowrap;
    font-weight: 400;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    width: 9.2rem;
    position: absolute;
    top: 13.6rem;
    font-size: 1.4rem;
  }
  .s-hp-ng-UY5 {
    line-height: 1.2125;
    color: #000000;
    white-space: nowrap;
    height: 1.7rem;
    position: absolute;
    left: 6.7rem;
    top: 18.1rem;
    font-weight: 400;
    width: 8.5rem;
    font-size: 1.4rem;
    font-family: Inter, 'Source Sans Pro';
  }
  .loi-hp-ng-98R {
    top: 31.8rem;
    font-size: 1.4rem;
    font-weight: 400;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 1.7rem;
    position: absolute;
    left: 7rem;
    width: 9.6rem;
    line-height: 1.2125;
    color: #000000;
  }
  .thi-gian-FSM {
    height: 1.7rem;
    position: absolute;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 6.2rem;
    top: 39.6rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    left: 7rem;
  }
  .ch-s-hu-NWy {
    left: 7rem;
    top: 45rem;
    font-size: 1.4rem;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    height: 1.7rem;
    position: absolute;
    font-weight: 400;
    line-height: 1.2125;
    white-space: nowrap;
    width: 7.7rem;
  }
  .ss-ch-s-hu-5wB {
    width: 11.3rem;
    height: 1.7rem;
    position: absolute;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    left: 6.7rem;
    top: 50.3rem;
    font-size: 1.4rem;
  }
  .trng-thi-ZbT {
    width: 6.8rem;
    position: absolute;
    top: 25.5rem;
    font-size: 1.4rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    height: 1.7rem;
    left: 6.7rem;
    font-weight: 400;
    color: #000000;
    white-space: nowrap;
  }
  .cp-nht-thng-tin-hp-ng-Twj {
    height: 5.9rem;
    left: 12.3rem;
    top: 3.9rem;
    font-size: 4.8rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    width: 70.6rem;
    position: absolute;
    font-weight: 400;
    color: #000000;
    white-space: nowrap;
  }
  .rectangle-26-Wv1 {
    width: 35.7rem;
    height: 3.2rem;
    position: absolute;
    left: 25.5rem;
    top: 12.9rem;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    background-color: #ffffff;
  }
  .rectangle-27-F6u {
    top: 18.1rem;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 35.7rem;
    height: 3.2rem;
    position: absolute;
    left: 25.5rem;
  }
  .item-95458694-Ajf {
    height: 1.7rem;
    left: 26.5rem;
    font-size: 1.4rem;
    font-weight: 400;
    width: 7rem;
    position: absolute;
    top: 19.1rem;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }
  .rectangle-28-fgR {
    top: 24.8rem;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 35.7rem;
    height: 3.2rem;
    position: absolute;
    left: 25.5rem;
  }
  .rectangle-29-PMX {
    box-sizing: border-box;
    background-color: #ffffff;
    width: 35.7rem;
    height: 3.2rem;
    position: absolute;
    left: 25.5rem;
    top: 31.2rem;
    border: solid 0.1rem #000000;
  }
  .rectangle-30-KW5 {
    height: 3.2rem;
    position: absolute;
    left: 25.5rem;
    top: 38.9rem;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 35.7rem;
  }
  .rectangle-31-TcH {
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 35.7rem;
    height: 3.2rem;
    position: absolute;
    left: 25.5rem;
    top: 44.3rem;
  }
  .rectangle-32-oAM {
    background-color: #ffffff;
    width: 35.7rem;
    height: 3.2rem;
    position: absolute;
    left: 25.5rem;
    top: 49.7rem;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
  }
  .kinh-doanh-chng-khon-Vos {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.2125;
    height: 1.7rem;
    left: 26.4rem;
    top: 13.9rem;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 16.7rem;
    position: absolute;
  }
  .khng-hot-ng-PeM {
    height: 1.7rem;
    position: absolute;
    top: 25.4rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    width: 11.4rem;
    left: 26.4rem;
    color: #000000;
    white-space: nowrap;
  }
  .hp-ng-kinh-doanh-Uvh {
    width: 14.3rem;
    top: 32.2rem;
    color: #000000;
    white-space: nowrap;
    height: 1.7rem;
    position: absolute;
    left: 26.2rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
  }
  .item-14-11-2022-16-11-2022-ze9 {
    width: 16rem;
    height: 1.7rem;
    left: 26.1rem;
    top: 39.9rem;
    font-weight: 400;
    position: absolute;
    font-size: 1.4rem;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }
  .o-minh-huy-Tnd {
    font-family: Inter, 'Source Sans Pro';
    width: 9.4rem;
    height: 1.7rem;
    left: 26.3rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    white-space: nowrap;
    position: absolute;
    top: 45rem;
    font-size: 1.4rem;
  }
  .item-8474564756988-AS9 {
    height: 1.7rem;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 12.1rem;
    position: absolute;
    left: 26.1rem;
    top: 50.7rem;
    font-size: 1.4rem;
    font-weight: 400;
  }
  .rectangle-33-ecD {
    height: 7.1rem;
    position: absolute;
    left: 8.3rem;
    top: 66.2rem;
    background-color: #07c7f1;
    border-radius: 1rem;
    width: 21.5rem;
  }
  .cp-nht-8nH {
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    height: 1.7rem;
    line-height: 1.2125;
    left: 15rem;
    top: 68.6rem;
    font-size: 1.4rem;
    font-weight: 800;
    white-space: nowrap;
    width: 6.5rem;
    position: absolute;
  }
  .rectangle-34-S2H {
    width: 21.9rem;
    height: 7rem;
    position: absolute;
    border: solid 0.1rem #000000;
    border-radius: 1rem;
    cursor: pointer;
    left: 39.3rem;
    top: 66.3rem;
    box-sizing: border-box;
    background-color: #ffffff;
  }
  .hy-9Bb {
    position: absolute;
    top: 69rem;
    font-size: 1.4rem;
    color: #000000;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 2.9rem;
    height: 1.7rem;
    left: 49.3rem;
    font-weight: 700;
  }
}
