
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.frame-50-SPX {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('REPLACE_IMAGE:4d90fa68fe440f0bb4e32643708fbf313d3abb31');

  .rectangle-7-Ljo {
    width: 97.1rem;
    height: 74.4rem;
    position: absolute;
    left: 41rem;
    top: 24rem;
    background-color: #ffffff;
    border-radius: 2.5rem;
  }
  .an-giang-qRf {
    font-size: 1.6rem;
    font-weight: 400;
    width: 4.5rem;
    height: 3.9rem;
    position: absolute;
    display: flex;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    left: 74.15rem;
    top: 33.05rem;
    align-items: center;
    justify-content: center;
  }
  .an-ha-wUh {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.2125;
    width: 3.7rem;
    height: 3.9rem;
    position: absolute;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    left: 74.55rem;
    top: 42.35rem;
    display: flex;
  }
  .tr1m2-r5s {
    left: 98.8rem;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 400;
    color: #000000;
    position: absolute;
    height: 3.9rem;
    top: 33.1rem;
    justify-content: center;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    width: 4.9rem;
  }
  .tr1m2-ZFB {
    width: 4.7rem;
    display: flex;
    font-weight: 400;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    height: 3.9rem;
    position: absolute;
    left: 98.65rem;
    top: 42.7rem;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    line-height: 1.2125;
  }
  .a1-0001-GvH {
    width: 4.3rem;
    height: 3.9rem;
    left: 49.6rem;
    top: 33.1rem;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 400;
    color: #000000;
    position: absolute;
    display: flex;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
  }
  .a2-0002-PED {
    width: 4.5rem;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    height: 3.9rem;
    position: absolute;
    left: 49.5rem;
    top: 42.5rem;
    display: flex;
    font-size: 1.6rem;
  }
  .line-9-twf {
    background-color: #000000;
    width: 97.1004rem;
    height: 0.1rem;
    position: absolute;
    left: 40.9998rem;
    top: 29.9991rem;
  }
  .line-10-Rgh {
    width: 97.1rem;
    height: 0.1rem;
    position: absolute;
    left: 41rem;
    top: 40.1835rem;
    background-color: #000000;
  }
  .line-11-Znu {
    height: 0.1rem;
    position: absolute;
    left: 41rem;
    top: 49.6704rem;
    background-color: #000000;
    width: 97.1rem;
  }
  .line-12-K1P {
    width: 0.1858rem;
    height: 0.1rem;
    position: absolute;
    left: 63.858rem;
    top: 24.1395rem;
    background-color: #000000;
  }
  .line-14-dXs {
    width: 0.1858rem;
    height: 0.1rem;
    position: absolute;
    left: 88.6673rem;
    top: 24.279rem;
    background-color: #000000;
  }
  .line-16-AXo {
    left: 113.4766rem;
    top: 24.1395rem;
    background-color: #000000;
    width: 0.1858rem;
    height: 0.1rem;
    position: absolute;
  }
  .block-7T3 {
    cursor: pointer;
    position: absolute;
    left: 130.7141rem;
    top: 40.9721rem;
    object-fit: contain;
    vertical-align: top;
    width: 4.267rem;
    height: 4.5526rem;
  }
  .block-eSy {
    width: 4.267rem;
    height: 4.5526rem;
    cursor: pointer;
    position: absolute;
    left: 130.7141rem;
    top: 33.2435rem;
    object-fit: contain;
    vertical-align: top;
  }
  .ratereview-z13 {
    top: 40.6286rem;
    object-fit: contain;
    vertical-align: top;
    width: 4.267rem;
    height: 5.2714rem;
    cursor: pointer;
    position: absolute;
    left: 117.3791rem;
  }
  .ratereview-Kp1 {
    object-fit: contain;
    vertical-align: top;
    width: 4.267rem;
    height: 5.2714rem;
    cursor: pointer;
    position: absolute;
    left: 117.3791rem;
    top: 32.9rem;
  }
  .frame-52-TvD {
    padding: 1.3rem 16.15rem 2.4rem 16.15rem;
    position: absolute;
    top: 0;
    left: 29.8rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #1c1b1f;
    box-sizing: border-box;
    width: 114.2rem;
    height: 17rem;

    .frame-51-MVo {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      align-items: center;

      .bt-ng-sn-quanh-ta-7E5 {
        font-weight: 700;
        color: #ffffff;
        white-space: nowrap;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        margin-bottom: 1.3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 5.6rem;
        line-height: 1.2125;
      }
      .frame-9-cRj {
        flex-shrink: 0;
        width: 100%;
        border: solid 0.1rem #e4e4e4;
        background-color: #ffffff;
        border-radius: 2.5rem;
        box-sizing: border-box;
        padding: 1.55rem 65.3rem 1.55rem 1.798rem;
        display: flex;
        align-items: center;

        .user-interface-magnifier-YKP {
          margin: 0rem 1.801rem 0.005rem 0rem;
          width: 2.0012rem;
          height: 1.9997rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .search-for-stats-ray {
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.5;
          color: #8c8c8c;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
  }
  .frame-61-UsF {
    background-color: #1c1b1f;
    border-radius: 2.5rem 2.5rem 0 0;
    padding: 1.65rem 8.5rem 1.65rem 6.15rem;
    height: 6.4rem;
    top: 24rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 97.2rem;
    position: absolute;
    left: 40.9rem;

    .ma-bds-aQV {
      white-space: nowrap;
      justify-content: center;
      font-size: 2.4rem;
      align-items: center;
      font-weight: 500;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 15.2rem 0.1rem 0rem;
      display: flex;
    }
    .address-TDP {
      font-weight: 500;
      line-height: 1.2125;
      color: #ffffff;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      font-size: 2.4rem;
      white-space: nowrap;
      margin: 0.1rem 16.75rem 0rem 0rem;
      display: flex;
      font-family: Inter, 'Source Sans Pro';
    }
    .price-mE5 {
      justify-content: center;
      line-height: 1.2125;
      color: #ffffff;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      font-size: 2.4rem;
      font-weight: 500;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0.1rem 18.3rem 0rem 0rem;
    }
    .action-2Qu {
      margin-bottom: 0.1rem;
      font-size: 2.4rem;
      font-weight: 500;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
    }
  }
  .frame-10-Kuo {
    box-sizing: border-box;
    width: 32.5rem;
    height: 102.4rem;
    position: absolute;
    left: 0;
    overflow: hidden;
    padding: 3.1rem 0rem 2.9rem 0rem;
    top: 0;
    background-color: #ffffff;
    border-radius: 2rem 2.5rem 2.5rem 2rem;

    .frame-60-3L1 {
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;

      .frame-59-Puf {
        margin-bottom: 18.9rem;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .frame-58-Mbb {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 7.3rem 5.15rem 7.3rem;
          width: calc(100% - 14.6rem);

          .image-1-HVF {
            margin-bottom: 4.6rem;
            width: 17.9rem;
            height: 20.5rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .frame-49-pk5 {
            flex-direction: column;
            flex-shrink: 0;
            margin: 0rem 4.2rem 0rem 4.5rem;
            width: calc(100% - 8.7rem);
            align-items: center;
            display: flex;

            .frame-48-wph {
              margin: 0rem 0.95rem 1.4rem 1.05rem;
              width: calc(100% - 2rem);
              height: 6.8rem;
              position: relative;
              flex-shrink: 0;

              .frame-47-To3 {
                border: solid 0.1rem #e4e4e4;
                background-color: #ffffff;
                border-radius: 1.6rem;
                box-sizing: border-box;
                padding: 1rem;
                height: 6.8rem;
                position: absolute;
                width: 6.8rem;
                left: 0;
                top: 0;

                .rectangle-4-AxM {
                  width: 4.8rem;
                  height: 4.8rem;
                  object-fit: cover;
                  vertical-align: top;
                  border-radius: 1rem;
                }
              }
              .ellipse-4-UTF {
                border-radius: 0.6rem;
                width: 1.2rem;
                height: 1.2rem;
                top: 5.2rem;
                border: solid 0.4rem #ffffff;
                box-sizing: border-box;
                background-color: #68b071;
                position: absolute;
                left: 6rem;
              }
            }
            .user-name-nD3 {
              font-weight: 600;
              line-height: 1.5;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1.05rem;
              font-size: 1.6rem;
            }
            .msnv-tms {
              flex-shrink: 0;
              align-items: center;
              font-size: 1.4rem;
              font-weight: 600;
              line-height: 1.2125;
              color: #000000;
              margin: 0rem 0.3rem 0.7rem 0rem;
              display: flex;
              justify-content: center;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .position-nsF {
              line-height: 1.2125;
              flex-shrink: 0;
              align-items: center;
              justify-content: center;
              font-size: 1.4rem;
              font-weight: 600;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              margin-right: 0.3rem;
              display: flex;
              white-space: nowrap;
            }
          }
        }
        .frame-11-Swo {
          flex-shrink: 0;
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;

          .frame-3-1V7 {
            display: flex;
            align-items: center;
            box-shadow: inset 0.4rem 0 0 #000000);
            background-color: #f3f3f3;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 5.625rem 2.8rem 5.575rem 5rem;
            width: 100%;

            .user-interface-house-w7s {
              margin: 0rem 3.4rem 0.05rem 0rem;
              width: 1.9995rem;
              height: 1.9999rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .qun-l-bt-ng-sn-eny {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.0499rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
            }
          }
          .frame-4-kLD {
            display: flex;
            align-items: center;
            background-color: rgba(249, 249, 249, 0.8000000119);
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 5.625rem 5.5rem 5.575rem 5.05rem;
            width: 100%;
            cursor: pointer;

            .file-and-folder-bookmark-document-5tH {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 3.45rem 0.05rem 0rem;
              width: 1.9rem;
              height: 2rem;
            }
            .qun-l-hp-ng-n21 {
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.05rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.2125;
            }
          }
        }
      }
      .icon-logout-t53 {
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-left: 0.2rem;
        width: 5rem;
        height: 5rem;
      }
    }
  }
}
