
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.frame-7-pFf {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('REPLACE_IMAGE:968db8561ceff7141c79cef4a8c08f730f283060');
  width: 100%;
  height: 102.3rem;
  position: relative;
  overflow: hidden;
  background-size: 100% 100%;

  .thng-tin-bds-ZDF {
    left: 53.6rem;
    font-weight: 500;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    top: 0.65rem;
    justify-content: center;
    line-height: 1.2125;
    width: 43.8rem;
    height: 7.8rem;
    display: flex;
    align-items: center;
    font-size: 6.4rem;
    color: #000000;
  }
  .auto-group-uqr3-2sX {
    left: 6.3rem;
    top: 9.9rem;
    display: flex;
    align-items: center;
    width: 142.2rem;
    height: 27.1rem;
    position: absolute;

    .rectangle-7-UjX {
      height: 27.1rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 20.1rem;
      width: 34rem;
    }
    .rectangle-8-1UZ {
      height: 27.1rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 18.5rem;
      width: 35.6rem;
    }
    .rectangle-9-Usw {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      width: 34rem;
      height: 27.1rem;
    }
  }
  .auto-group-vsjd-oQR {
    display: flex;
    align-items: center;
    width: 124.5rem;
    height: 4.1rem;
    position: absolute;
    left: 6.3rem;
    top: 41.3rem;

    .cn-h-XLR {
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.1rem 12.8rem 0rem 0rem;
      font-size: 2.4rem;
    }
    .auto-group-rxpb-EEq {
      background-color: #ffffff;
      white-space: nowrap;
      font-family: Inter, 'Source Sans Pro';
      font-weight: 400;
      padding: 0.6rem 0.65rem 0.5rem 0.65rem;
      width: 38.1rem;
      text-align: center;
      font-size: 2.4rem;
      line-height: 1.2125;
      margin-right: 29.6rem;
      height: 100%;
      color: #000000;
      border: solid 0.1rem #000000;
      flex-shrink: 0;
      box-sizing: border-box;
    }
    .din-tch-Uus {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.1rem 3.3rem 0rem 0rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
    }
    .auto-group-zv57-BJV {
      flex-shrink: 0;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      padding: 0.6rem 1.5rem 0.5rem 1.5rem;
      width: 22.4rem;
      height: 100%;
      font-size: 2.4rem;
      background-color: #ffffff;
    }
  }
  .auto-group-513t-ceh {
    height: 4.7rem;
    position: absolute;
    left: 6.4rem;
    top: 47.9rem;
    display: flex;
    align-items: center;
    width: 124rem;

    .ngy-ng-k-jUR {
      flex-shrink: 0;
      margin: 0rem 5.1rem 0.5rem 0rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .auto-group-z6ah-eLV {
      padding: 1rem 0.8rem 0.1rem 0.8rem;
      font-size: 2.4rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      border: solid 0.1rem #000000;
      margin: 0rem 29rem 0.6rem 0rem;
      font-weight: 400;
      white-space: nowrap;
      background-color: #ffffff;
      box-sizing: border-box;
      width: 38.1rem;
      text-align: center;
      color: #000000;
      flex-shrink: 0;
    }
    .php-l-HuF {
      margin: 0rem 5.2rem 0.5rem 0rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .auto-group-9ecd-pPP {
      box-sizing: border-box;
      font-weight: 400;
      display: flex;
      justify-content: center;
      flex-shrink: 0;
      margin-top: 0.6rem;
      height: 4.1rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      align-items: center;
      background-color: #ffffff;
      width: 22.4rem;
      line-height: 1.2125;
      border: solid 0.1rem #000000;
      font-size: 2.4rem;
      white-space: nowrap;
    }
  }
  .auto-group-gkv9-6bo {
    width: 58.9rem;
    height: 4.1rem;
    position: absolute;
    left: 6.5rem;
    top: 54.5rem;
    display: flex;
    align-items: center;

    .gi-tin-pXo {
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.1rem 12rem 0rem 0rem;
      font-size: 2.4rem;
    }
    .auto-group-74vq-u3T {
      width: 38.1rem;
      text-align: center;
      white-space: nowrap;
      flex-shrink: 0;
      line-height: 1.2125;
      color: #000000;
      box-sizing: border-box;
      padding: 0.6rem 0.15rem 0.5rem 0.15rem;
      font-size: 2.4rem;
      font-family: Inter, 'Source Sans Pro';
      border: solid 0.1rem #000000;
      height: 100%;
      font-weight: 400;
      background-color: #ffffff;
    }
  }
  .auto-group-nzjh-a9b {
    position: absolute;
    left: 6.5rem;
    top: 60.3rem;
    display: flex;
    align-items: flex-start;
    width: 142rem;
    height: 11.5rem;

    .auto-group-lqad-Go7 {
      margin: 1.4rem 9.1rem 0.5rem 0rem;
      height: calc(100% - 1.9rem);
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .trng-thi-yxR {
        margin: 0rem 0rem 3.6rem 0.1rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .tnh-tp-733 {
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.4rem;
        font-weight: 400;
      }
    }
    .auto-group-oasp-eHs {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0.8rem 23.8rem 0rem 0rem;
      width: 38.1rem;
      align-items: center;

      .auto-group-dupy-NzZ {
        line-height: 1.2125;
        white-space: nowrap;
        border: solid 0.1rem #000000;
        flex-shrink: 0;
        background-color: #ffffff;
        margin-bottom: 2.5rem;
        padding: 0.6rem 0.75rem 0.5rem 0.75rem;
        width: 100%;
        text-align: center;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        box-sizing: border-box;
        font-size: 2.4rem;
        color: #000000;
      }
      .auto-group-e6pf-b6d {
        font-family: Inter, 'Source Sans Pro';
        border: solid 0.1rem #000000;
        background-color: #ffffff;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.4rem 0.8rem 0.7rem 0.8rem;
        font-size: 2.4rem;
        line-height: 1.2125;
        color: #000000;
        white-space: nowrap;
        width: 100%;
        text-align: center;
        font-weight: 400;
      }
    }
    .auto-group-ddz5-f6V {
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      white-space: nowrap;
      text-align: center;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-right: 8.3rem;
      line-height: 1.2125;
      background-color: #ffffff;
      width: 27.1rem;
      font-size: 2.4rem;
      color: #1c1b1f;
      justify-content: center;
      border-radius: 1rem;
      height: 7.8rem;
    }
    .auto-group-tyyf-WN1 {
      display: flex;
      justify-content: center;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      align-items: center;
      border: solid 0.1rem #000000;
      height: 7.8rem;
      font-size: 2.4rem;
      background-color: #ffffff;
      border-radius: 1rem;
      flex-shrink: 0;
      line-height: 1.2125;
      box-sizing: border-box;
      width: 23.9rem;
      color: #000000;
    }
  }
  .auto-group-k2wx-PRo {
    position: absolute;
    left: 6.6rem;
    top: 74.3rem;
    display: flex;
    align-items: flex-start;
    width: 58.8rem;
    height: 4.1rem;

    .qun-huyn-WmK {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.2rem 6.7rem 0rem 0rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
    }
    .auto-group-cy65-1xy {
      font-family: Inter, 'Source Sans Pro';
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      padding: 0.2rem 0.8rem;
      width: 38.1rem;
      height: 100%;
      font-size: 2.4rem;
      flex-shrink: 0;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      white-space: nowrap;
      background-color: #ffffff;
    }
  }
  .auto-group-c7i5-Tpy {
    width: 59.1rem;
    height: 4.1rem;
    position: absolute;
    left: 6.3rem;
    top: 80.9rem;
    display: flex;
    align-items: center;

    .x-phng-bwB {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.1rem 8.4rem 0rem 0rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
    }
    .auto-group-bzg5-78q {
      box-sizing: border-box;
      font-size: 2.4rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      border: solid 0.1rem #000000;
      background-color: #ffffff;
      flex-shrink: 0;
      padding: 0.6rem 0.8rem 0.5rem 0.8rem;
      width: 38.1rem;
      height: 100%;
      font-weight: 400;
      line-height: 1.2125;
    }
  }
}
