
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.frame-9-VEm {
  height: 102.3rem;
  position: relative;
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('REPLACE_IMAGE:968db8561ceff7141c79cef4a8c08f730f283060');
  width: 100%;

  .rectangle-25-DwT {
    width: 112.2rem;
    height: 92.4rem;
    position: absolute;
    left: 2.1rem;
    top: 2.5rem;
    border: solid 0.2rem #e0ad4b;
    box-sizing: border-box;
    background-color: #ffffff;
  }
  .cp-nht-LmB {
    width: 6.2rem;
    height: 1.7rem;
    position: absolute;
    color: #ffffff;
    left: 15rem;
    top: 68.6rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }
  .rectangle-35-RXj {
    left: 5.5rem;
    top: 5.6rem;
    background-color: #d9d9d9;
    width: 44.5rem;
    height: 64.4rem;
    position: absolute;
  }
  .printer--ZP3 {
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 4.9rem;
    left: 53.5rem;
    top: 7rem;
    font-size: 4rem;
    font-weight: 400;
    line-height: 1.2125;
    display: flex;
    align-items: baseline;
    width: 14.2rem;
    position: absolute;

    .printer--ZP3-sub-0 {
      font-size: 4rem;
      font-weight: 600;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
    }
    .printer--ZP3-sub-1 {
    }
  }
  .rectangle-36-owb {
    box-sizing: border-box;
    background-color: #ffffff;
    width: 31.6rem;
    height: 4.7rem;
    position: absolute;
    left: 70rem;
    top: 7.2rem;
    border: solid 0.1rem #000000;
  }
  .page--X6u {
    position: absolute;
    font-size: 4rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 10.9rem;
    height: 4.9rem;
    left: 53.7rem;
    top: 20.8rem;
    font-weight: 600;
    color: #000000;
  }
  .ellipse-1-qdP {
    object-fit: contain;
    vertical-align: top;
    width: 2.6rem;
    height: 2.4rem;
    position: absolute;
    left: 70rem;
    top: 23.2rem;
  }
  .ellipse-2-aL5 {
    vertical-align: top;
    width: 2.6rem;
    height: 2.4rem;
    position: absolute;
    left: 70rem;
    top: 28.5rem;
    object-fit: contain;
  }
  .all-udF {
    line-height: 1.2125;
    color: #000000;
    white-space: nowrap;
    height: 2.5rem;
    top: 23.2rem;
    left: 73.7rem;
    font-size: 2rem;
    font-weight: 400;
    font-family: Inter, 'Source Sans Pro';
    width: 3.7rem;
    position: absolute;
  }
  .form-ajP {
    top: 28.5rem;
    font-size: 2rem;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 4.8rem;
    height: 2.5rem;
    position: absolute;
    left: 73.7rem;
    font-weight: 400;
    line-height: 1.2125;
  }
  .paper-slider--hp1 {
    height: 3.9rem;
    left: 54rem;
    top: 35.8rem;
    font-weight: 500;
    white-space: nowrap;
    width: 19.2rem;
    font-size: 3.2rem;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    position: absolute;
  }
  .rectangle-37-pdj {
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 26rem;
    height: 5.3rem;
    position: absolute;
    left: 75.6rem;
    top: 35rem;
  }
  .rectangle-38-Lc5 {
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    border-radius: 1rem;
    background-color: #ffffff;
    width: 21.8rem;
    height: 7.9rem;
    cursor: pointer;
    position: absolute;
    left: 54.3rem;
    top: 62.4rem;
  }
  .rectangle-39-Sf7 {
    border-radius: 1rem;
    position: absolute;
    left: 87.4rem;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    background-color: #07c7f1;
    width: 21.8rem;
    height: 7.9rem;
    cursor: pointer;
    top: 62.4rem;
  }
  .cancle-kvh {
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    left: 61.3rem;
    font-size: 2.4rem;
    position: absolute;
    top: 64.9rem;
    font-weight: 300;
    width: 7.8rem;
    height: 3rem;
  }
  .printer-mL1 {
    width: 7.4rem;
    height: 3rem;
    position: absolute;
    left: 94.4rem;
    font-size: 2.4rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    top: 64.9rem;
    font-weight: 300;
    color: #ffffff;
  }
}
