
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.frame-6-zFf {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('REPLACE_IMAGE:968db8561ceff7141c79cef4a8c08f730f283060');
  width: 100%;
  height: 102.3rem;
  position: relative;
  overflow: hidden;

  .rectangle-25-Jn9 {
    box-sizing: border-box;
    background-color: #ffffff;
    width: 88.4rem;
    height: 92.4rem;
    position: absolute;
    left: 4.1rem;
    top: 1.7rem;
    border: solid 0.2rem #000000;
  }
  .tn-hp-ng-bWM {
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 9.2rem;
    left: 6.7rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    height: 1.7rem;
    position: absolute;
    top: 13.6rem;
    font-size: 1.4rem;
  }
  .s-hp-ng-V5w {
    left: 6.7rem;
    top: 18.1rem;
    font-size: 1.4rem;
    font-weight: 400;
    white-space: nowrap;
    width: 8.5rem;
    height: 1.7rem;
    position: absolute;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
  }
  .loi-hp-ng-wid {
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 1.7rem;
    top: 31.8rem;
    font-weight: 400;
    line-height: 1.2125;
    width: 9.6rem;
    position: absolute;
    left: 7rem;
    font-size: 1.4rem;
  }
  .thi-gian-Rdo {
    font-size: 1.4rem;
    font-weight: 400;
    color: #000000;
    height: 1.7rem;
    position: absolute;
    left: 7rem;
    top: 39.6rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 6.2rem;
  }
  .ch-s-hu-6zq {
    position: absolute;
    left: 7rem;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 7.7rem;
    height: 1.7rem;
    top: 45rem;
    font-size: 1.4rem;
    font-weight: 400;
  }
  .ss-ch-s-hu-D3s {
    position: absolute;
    left: 6.7rem;
    font-size: 1.4rem;
    line-height: 1.2125;
    color: #000000;
    white-space: nowrap;
    width: 11.3rem;
    height: 1.7rem;
    font-family: Inter, 'Source Sans Pro';
    top: 50.3rem;
    font-weight: 400;
  }
  .trng-thi-hjj {
    font-weight: 400;
    line-height: 1.2125;
    white-space: nowrap;
    height: 1.7rem;
    position: absolute;
    top: 25.5rem;
    font-size: 1.4rem;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    width: 6.8rem;
    left: 6.7rem;
  }
  .thng-tin-hp-ng-p3f {
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    height: 5.9rem;
    position: absolute;
    left: 33.9rem;
    font-size: 4.8rem;
    font-weight: 400;
    width: 47.5rem;
    top: 5.1rem;
    line-height: 1.2125;
    white-space: nowrap;
  }
  .rectangle-26-eYV {
    position: absolute;
    left: 25.5rem;
    top: 12.9rem;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 35.7rem;
    height: 3.2rem;
  }
  .rectangle-27-md7 {
    left: 25.5rem;
    top: 18.1rem;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 35.7rem;
    height: 3.2rem;
    position: absolute;
  }
  .item-123214344141224145-6fP {
    white-space: nowrap;
    position: absolute;
    left: 26.5rem;
    top: 19.1rem;
    font-size: 1.4rem;
    line-height: 1.2125;
    width: 14.7rem;
    height: 1.7rem;
    font-weight: 400;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
  }
  .rectangle-28-jyF {
    top: 24.8rem;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 35.7rem;
    height: 3.2rem;
    position: absolute;
    left: 25.5rem;
  }
  .rectangle-29-UR3 {
    box-sizing: border-box;
    background-color: #ffffff;
    width: 35.7rem;
    height: 3.2rem;
    position: absolute;
    left: 25.5rem;
    top: 31.2rem;
    border: solid 0.1rem #000000;
  }
  .rectangle-30-c1T {
    left: 25.5rem;
    top: 38.9rem;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 35.7rem;
    height: 3.2rem;
    position: absolute;
  }
  .rectangle-31-LTF {
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 35.7rem;
    height: 3.2rem;
    position: absolute;
    left: 25.5rem;
    top: 44.3rem;
  }
  .rectangle-32-TGy {
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 35.7rem;
    height: 3.2rem;
    position: absolute;
    left: 25.5rem;
    top: 49.7rem;
  }
  .kinh-doanh-bs-YpD {
    line-height: 1.2125;
    color: #000000;
    white-space: nowrap;
    left: 26.4rem;
    top: 13.9rem;
    font-size: 1.4rem;
    font-weight: 400;
    font-family: Inter, 'Source Sans Pro';
    width: 10.8rem;
    height: 1.7rem;
    position: absolute;
  }
  .ang-thc-hin-TRP {
    white-space: nowrap;
    position: absolute;
    left: 26.4rem;
    font-size: 1.4rem;
    line-height: 1.2125;
    color: #000000;
    width: 10.2rem;
    height: 1.7rem;
    top: 25.4rem;
    font-weight: 400;
    font-family: Inter, 'Source Sans Pro';
  }
  .hp-ng-kinh-doanh-Yxd {
    width: 14.3rem;
    position: absolute;
    top: 32.2rem;
    font-weight: 400;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 1.7rem;
    left: 26.2rem;
    font-size: 1.4rem;
    line-height: 1.2125;
    color: #000000;
  }
  .item-14-11-2022-16-11-2022-fXT {
    height: 1.7rem;
    position: absolute;
    left: 26.1rem;
    font-size: 1.4rem;
    font-weight: 400;
    white-space: nowrap;
    width: 16rem;
    top: 39.9rem;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
  }
  .phm-gia-khim-y2M {
    top: 45rem;
    font-weight: 400;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 1.7rem;
    position: absolute;
    font-size: 1.4rem;
    line-height: 1.2125;
    width: 10.9rem;
    left: 26.3rem;
  }
  .item-847955589998-gBf {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    width: 11.3rem;
    height: 1.7rem;
    left: 26.1rem;
    top: 50.7rem;
    font-family: Inter, 'Source Sans Pro';
    position: absolute;
    white-space: nowrap;
  }
  .rectangle-33-yRf {
    cursor: pointer;
    position: absolute;
    left: 8.3rem;
    top: 66.2rem;
    background-color: #07c7f1;
    border-radius: 1rem;
    width: 21.5rem;
    height: 7.1rem;
  }
  .lu-thng-tin-e21 {
    font-family: Inter, 'Source Sans Pro';
    height: 1.7rem;
    left: 15rem;
    top: 68.6rem;
    font-size: 1.4rem;
    line-height: 1.2125;
    color: #ffffff;
    width: 8.8rem;
    position: absolute;
    font-weight: 400;
    white-space: nowrap;
  }
  .rectangle-34-wG1 {
    border: solid 0.1rem #000000;
    width: 21.9rem;
    top: 66.3rem;
    position: absolute;
    left: 39.3rem;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 1rem;
    height: 7rem;
    cursor: pointer;
  }
  .hy-q6V {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    height: 1.7rem;
    position: absolute;
    left: 49.3rem;
    top: 69rem;
    font-family: Inter, 'Source Sans Pro';
    width: 2.8rem;
    white-space: nowrap;
  }
}
